.bg-item {
    background-image: linear-gradient(160deg, rgba(150, 193, 230, 1), rgba(150, 193, 230, 0.3), rgba(255, 255, 255, 1));
}

.start {
    text-align: right;
}

@font-face {
    font-family: Gabriola;
    src: url(gabriola.ttf);
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

.event-title {
    color: #333333;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Courier New', monospace;
    margin-bottom: 0rem;
}

.section-title {
    color: #333333;
    font-size: 2.5rem;
    font-style: normal;
    font-family: 'Gabriola', cursive;
    margin-bottom: 0rem;
    margin-top: 2rem;
}

.sponsor-title {
    color: #333333;
    font-size: 1.8rem;
    font-style: normal;
    font-family: 'Gabriola', cursive;
    margin-bottom: 0rem;
    margin-top: 2rem;
}

.sponsor-logo {
    max-width: 150px;
}

.header-image  {
    max-width: 60%;
}

a {
    color: #6ea9dd;
    text-decoration: none;
}
a:hover {
    color: #5a9dd8;
    text-decoration: underline;
}

.card {
    margin-bottom: 1rem
}

.carousel-inner {
    height: 0;
    padding-bottom: 60%; /* this sets carousel aspect ratio */
}

.carousel-item {
    position: absolute !important; /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    object-fit: cover; /* or 'contain' if you want stretch instead of crop */
}